h1 {
    text-align: center;
    font-size: 65px;
}

h2 {
    text-align: left;
    font-size: 40px;
    font-family: Comic Sans MS;
    font-weight: font
}

.cabecera {
    background: url('imagenes/imagen1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 200px;
}

.wrapper {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

ul {
    list-style: none;
    overflow: hidden;
}

ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: auto;
    background-size: 1.6rem 1.6rem;
    padding-left: 1rem;
    float: left;
}

#beg {
    background: forestgreen;
    background-size: 40px;
    font-size: 17px;
    border-radius: 5px;
    padding: left;
}

#pro {
    background: crimson;
    background-size: 40px;
    font-size: 17px;
    border-radius: 5px;
}

#com {
    background: pink;
    background-size: 40px;
    font-size: 17px;
    border-radius: 5px;
}

#alg {
    background: green;
    background-size: 40px;
    font-size: 17px;
    border-radius: 5px;
}

.box-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.box a {
    color: gray;
    font-size: 25px;
    padding-left: initial;
}

.box p {
    text-align: left;
    font-style: italic;
}

.tabla {
    text-align: center;
    padding-left: 500px;
    border-color: lightblue;
    border-collapse: separate;
}

.tabla td {
    color: black;
    background-color: rgb(199, 195, 195);
}